body {
    font-family: Arial, sans-serif;
    background-color: #485764;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h3 {
    text-align: center;
    color: white;
    margin-top: 20px;
}

#header {
    padding: 20px;
    background-color: #1b83d8;
    transition: background-color 0.3s ease;
}

#header h1 {
    margin: 0;
    font-size: 2em;
}

#header h3 {
    margin: 5px 0;
}

div {
    text-align: left;
    margin-bottom: 30px;
}

#formulario {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #333;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #1b83d8;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #1744c0;
}

input[type="submit"]:active {
    background-color: #388e3c;
}

/* VELOCIMETRO */

svg{
  position: absolute;
  margin: auto;
  top: 30%;
  bottom: 0;
  left: 0;
  right:0;
  
}

path#ponteirog {
  transform-origin: bottom center;
  animation: rotaciona-ponteiro 5s stop;
}

path#ponteirop {
  transform-origin: top center;
  animation: rotaciona-ponteiro 5s stop;
}

@keyframes rotaciona-ponteiro{
  0%{
    transform: rotate(-110deg);
    transform: -moz-rotate(-110deg);
  }
  
   50%{
    transform: rotate(0deg);
    transform: -moz-rotate(0deg);
  }
   100%{
    transform: rotate(60deg);
    transform: -moz-rotate(6deg);
  }
}